snippet si
#include <${0}.h>
endsnippet

snippet inc
#include <${0}>
endsnippet

snippet incf
#include "${0}.h"
endsnippet

snippet def
#define ${0}
endsnippet

snippet c
/* ${0} */
endsnippet

snippet s
std::${0}
endsnippet

snippet doc
/*
 * ${0}
 */
endsnippet

snippet main
int main(void){
    ${0}

    return 0;
}
endsnippet

snippet p
std::cout << ${0} << std::endl;
endsnippet
