snippet cl
console.log($0);
endsnippet

# Console log a variable
snippet cov
console.log("${1:VarToPrint}: ", `!p snip.rv = t[1]`);
endsnippet

snippet describe
describe("${1:Test Block Description}", () => {
  ${2}
});
endsnippet

snippet test
test("${1:Test Description}", () => {
  ${2}
});
endsnippet

snippet expect
expect(${1:value}).toBe(${2:expected value});
endsnippet

snippet ir
import * as React from "react";
endsnippet

snippet doc
/**
 * ${0}
 */
endsnippet
