# Mac Stuff
.DS_Store

# Python Stuff
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

.sass-cache/

# Vim Stuff
*~
*.swp
*.swo
tmp
.netrwhist
view/*

# Plugins managed by Vundle
bundle/*

# Plugins not managed by vundle
eclim/*

